body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
}

/* Container */
.container {
  max-width: 1440px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

/* Boxes */
.box {
  padding: 3rem 3.3rem;
}

.box1 {
  background-color: var(--bright-orange);
  border-radius: 0.4rem 0 0 0.4rem;
}

.box2 {
  background-color: var(--dark-cyan);
}

.box3 {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0.4rem 0.4rem 0;
}

/* Titles, paragraphs, buttons */

.title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.9em 0;
  color: var(--very-light-gray);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  color: var(--transparent-white);
  margin-bottom: 4em;
}

.btn {
  background-color: var(--very-light-gray);
  padding: 0.7rem 1.5rem;
  border-radius: 1.5em;
  border: 2px solid var(--very-light-gray);
  font-family: "Lexend Deca", sans-serif;
  transition: all 200ms ease-in;
}

.btn1 {
  color: var(--bright-orange);
}

.btn2 {
  color: var(--dark-cyan);
}

.btn3 {
  color: var(--very-dark-cyan);
}

.btn:hover {
  background-color: inherit;
  color: var(--very-light-gray);
  cursor: pointer;
}
/* Attributions */
footer {
  width: 50%;
  margin-top: 1em;
}
.attribution {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  text-align: center;
}

.attribution a {
  color: var(--dark-cyan);
  transition: all 200ms ease-in;
}

.attribution a:hover {
  color: var(--bright-orange);
}

@media (max-width: 820px) {
  .container {
    width: 40%;
    grid-template-columns: 1fr;
  }
  .box {
    padding: 2.5rem;
  }

  .box1 {
    border-radius: 0.4rem 0.4rem 0 0;
  }

  .box3 {
    border-radius: 0 0 0.4rem 0.4rem;
  }
  p {
    margin-bottom: 2em;
  }
}

@media (max-width: 415px) {
  .container {
    width: 90%;
  }
}
